html {
    background-color: white;
}
body {
    background-color: white;
    margin: 0;
    border: solid 0px rgb(240, 50, 50);
}
header {
    background-color: white;
}
h1 {
    text-align: center;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    margin: 0;
    padding: 30px 5% 15px;
}
main {
    background-color: white;
    padding: 40 15%;
}
footer {
    background-color: white;
    margin: 40 5%;
    text-align: center;
}
footer small {
    color: black;
    font-family: 'Times New Roman';
    font-size: 14;
}


/* top nav bar */
.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.nav li {
    display: inline;
}
.nav a {
    display: inline-block;
    padding: 14 30px;
    color: rgb(240, 0, 0);
    text-decoration: none;
    font-family: 'arial';
    text-transform: lowercase;
    letter-spacing: .5;
    font-size: 20px;
    transition: 0.2s;
    opacity: 0.7;
}
.nav a:hover {
    opacity: 1;
}

#navactive {
    color: #777;
    transition: 0;
    opacity: 1;
}
#navactive:hover {
    opacity: 1;
}


/* instagram button */
.sociallinks {
    margin: 25;
}
.sociallinks a {
    position: relative;
    float: none;
    color: black;
    text-decoration: underline;
}
#socialicon {}


/* gallery */
.gal-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
}
.gal-column {
    flex: 30%;
    max-width: 33.3%;
    padding: 0 5px;
}
.gal-column img {
    margin: 5px;
    vertical-align: middle;
    width: 100%;
    
    /* make it not draggable */
    user-select: none;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
}
@media screen and (max-width: 800px) {
    .gal-column {
        flex: 50%;
        max-width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .gal-column {
        flex: 100%;
        max-width: 100%;
    }
}